---
import { education } from "@cv";
import Section from "../Section.astro";
import EducationIcon from "@/icons/EducationIcon.astro";
---

<Section title="Educación">
    <ul>
        {
            education.map(({ url, institution, startDate, endDate, area }) => (
                <li>
                    <article>
                        <header>
                            <div>
                                <div class="title">
                                    <EducationIcon width="16px" height="20px" />
                                    <h3>
                                        <a
                                            href={url}
                                            title={`Ver ${institution}`}
                                            target="_blank"
                                        >
                                            {institution}
                                        </a>
                                    </h3>
                                </div>
                                <h4>{area}</h4>
                            </div>
                            <div>
                                <time datetime={startDate} data-title={startDate}>
                                    {startDate}
                                </time>
                                {" - "}
                                <time datetime={endDate} data-title={endDate}>
                                    {endDate || "actual"}
                                </time>
                            </div>
                        </header>
                    </article>
                </li>
            ))
        }
    </ul>
</Section>
<style>
    ul {
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: center;
        gap: 32px;
        width: 100%;
        margin-bottom: 20px;
        /* width: 450px; */
    }

    article {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
    }

    article h3 {
        font-size: 1.5rem;
        font-weight: 500;
        color: #111;
    }

    article a {
        color: #111;
    }

    article a:hover {
        text-decoration: underline;
    }

    article h4 {
        color: #222;
        font-weight: 400;
    }

    header {
        margin-bottom: 10px;
    }

    time {
        color: #555;
        font-size: 0.85rem;
        min-width: 102px;
        cursor: default;
    }

    footer p {
        margin: 0;
        text-align: justify;
    }

    .title {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .title h3 {
        margin-left: .5rem;
    }
</style>
