---
import BuildingIcon from "@/icons/BuildingIcon.astro";
import CodeIcon from "@/icons/CodeIcon.astro";
import Section from "../Section.astro";
import { work } from "@cv";
---

<Section title="Expreriencia Laboral">
    <ul>
        {
            work.map(({ name, startDate, endDate, position, summary, url, highlights }) => {
                return (
                    <li>
                        <article>
                            <header>
                                <div>
                                    <div class="title">
                                        <BuildingIcon width="16px" height="20px"/>
                                        <h3>
                                            <a
                                                href={url}
                                                title={`Ver ${name}`}
                                                target="_blank"
                                            >
                                                {name}
                                            </a>
                                        </h3>
                                    </div>
                                    <h4>{position}</h4>
                                </div>
                                <div>
                                    <time
                                        datetime={startDate}
                                        data-title={startDate}
                                    >
                                        {startDate}
                                    </time>
                                    {" - "}
                                    <time
                                        datetime={endDate}
                                        data-title={endDate}
                                    >
                                        {endDate || "actual"}
                                    </time>
                                </div>
                            </header>
                            <footer>
                                <p>{summary}</p>
                                <div class="highlights-container">
                                    <h4>Logros/Desafios</h4>
                                    <ul class="highlights-list">
                                        {
                                            highlights.map((highlight) => (
                                                <li><p>{highlight}</p></li>
                                            ))
                                        }
                                    </ul>
                                </div>
                            </footer>
                        </article>
                    </li>
                );
            })
        }
    </ul>
</Section>

<style>
    ul {
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: center;
        gap: 32px;
        width: 100%;
        margin-bottom: 20px;
        /* width: 450px; */
    }

    article {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
    }

    article h3 {
        font-size: 1.5rem;
        font-weight: 500;
        color: #111;
    }

    article a {
        color: #111;
    }

    article a:hover {
        text-decoration: underline;
    }

    article h4 {
        color: #222;
        font-weight: 400;
    }

    article header {
        margin-bottom: 10px;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        width: 100%;
        justify-content: space-between;
    }

    @media (width <= 1000px) {
        article header {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
        }
    }

    time {
        color: #555;
        font-size: 0.85rem;
        min-width: 102px;
        cursor: default;
    }

    footer p {
        margin: 0;
        text-align: justify;
    }

    .highlights-list {
        gap: 5px !important;
        list-style-type: square;
        margin-left: 20px;
    }

    footer ul li {
        margin-top: 0;
    }
    .title {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .title h3 {
        margin-left: .5rem;
    }

    .highlights-container {
        margin-top: 15px;
        padding-left: .5rem;
    }

    .highlights-container h4 {
        margin-bottom: 1px;
        color: #555;
        font-weight: bold !important;
    }
    .highlights-container ul {
        margin-top: 10px !important;
    }

    .highlights-container li p{
        display: flex;
        flex-direction: row;
        align-items: flex-start;
    }

</style>
